/* Style/Typography */
* {
  box-sizing: border-box;
}
body {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0px;
  padding: 0px;
  height: 100%;
  background-color: #333;
}
.container {
  min-width: 1920px;
}
.header {
  height: 500px;
  width: 100%;
  background-image: url(images/cooper_2.jpg);
  background-size: cover;
  background-position: center center;
}
#aAC {
  font-size: 50px;
  font-family: Arizonia;
  font-weight: bold;
  border: 6px outset #edf7f6;
  position: absolute;
  top: 200px;
  left: 50px;
  padding: 25px;
  border-radius: 30px;
}
