/* Style/Typography */
* {
  box-sizing: border-box;
}
body {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0px;
  padding: 0px;
  height: 100%;
  background-color: rgb(51, 51, 51);
}
.container {
  min-width: 1250px;
}
.header {
  height: 500px;
  width: 100%;
  background-image: url(images/cooper_2.jpg);
  background-size: cover;
  background-position: center center;
}
.topnav {
  width: 100%;
  background-color: #11a78e;
  overflow: auto;
  border: 5px double black;
}
.topnav li{
  float: left;
  padding: 12px;
  color: blue;
  font-size: 24px;
  width: 20%;
  text-align: center;
  list-style-type: none;
}
.topnav ul{
  background-color: #edf7f6;
  margin-top: 0;
  text-align: center;
  font-family: Dynalight;
}
#aAC {
  font-size: 65px;
  font-family: Dynalight;
  font-weight: bold;
  border: 6px outset #edf7f6;
  position: absolute;
  top: 200px;
  left: 50px;
  padding: 25px;
  border-radius: 30px;
}
